/* Définition des polices personnalisées */
@font-face{
	font-family: 'Raleway', sans-serif;
}

.bloc_page{
	width: 1200px;
    margin:auto;
}
    
.photo_reservia{
	display: flex;
	justify-content: flex-start;
	padding-top: 20px;
	padding-bottom: 30px;
}

nav{
	display: flex;
	flex-wrap: wrap;
	padding-left: 775px;
	align-content: flex-end;
	flex-direction: row;
	align-items: flex-end;
}
nav ul{
	display: flex;
	justify-items: flex-end;
	list-style-type: none;
	

}
nav li{
	margin-right: 45px;
}
nav a{
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	color: #0065FC;
	padding-top: 40px;
}
nav a:hover{
	border-top: 2px solid #0065FC;
	padding-top: 38px;
}
.description{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.ville{
	font-family:'Raleway', sans-serif;
	font-weight: bold;
}
.nature{
	font-family:'Raleway', sans-serif;
	font-size: 0.9em;
}
.search-bloc /*The whole button and the icon*/{
    background-color: #0065FC;
    clear: both;
    border-right: none;
    border-left: none;
    border:  whitesmoke solid 3px;
    border-radius: 13px;
    width: 317px;
    padding: 0;
    margin: 0;
}
#search .button /*button de rechercher*/{
	background-color: #0065FC;
	border: 2px solid  #0065FC; 
	border-radius: 0px 10px 10px 0px;
	padding: 10px;
	font-weight: bold;
	margin: 0px;
	color: white;
	font-family:'Raleway', sans-serif;
	width: 100px;
}
#search input {
	font-family:'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1em;
	padding: 12px;
	margin: -4px;
	font-weight: bold;
	border:  none;
	width: 150px;
}
#search .position-icon/* grey around the icon*/{
	margin: 0px;
	background-color: whitesmoke;
	border: whitesmoke; solid 3px;
	padding: 13px;
	border-radius: 10px 0px 0px 10px;
}
.container1{
	color: black;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;

}
.filters{
	font-weight: bold;
	padding-top: 25px;
	display: flex;
	justify-content: flex-start;
	min-height: 40px;	
}
.description2{
	display: flex;
	justify-content: flex-start;
	align-content: space-around;
	align-items: stretch;
	padding-top: 25px;
	padding-bottom: 25px;
	flex-direction: row;
}

.info{
	border-radius: 50%;
	border: 2px solid #DEEBFF;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 20px;
	height: 20px;
}

.info i {
	font-size: x-small;
}
.logements{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	display: flex;
	justify-content: flex-start;
	padding-left: 10px;


}
.blue{
	color: #0065FC;
	width: 30px;
	text-align: center;
}

.badge{
	border: 1px #F2F2F2 solid;
	border-radius: 20px 20px; 
	border-width: 2px;
	display: flex;   
	align-items: center;
	margin-left: 15px;
}
.bill{
	display: flex;
	align-items: center;
	background: #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.child{
	border: 1px #F2F2F2 solid;
	border-radius: 20px 20px;
	border-width: 2px;
	display: flex;
	align-items: center;    
}
.icon_child{
	display: flex;
	align-items: center;
	background: #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
   
}

.eco{
	font-family: 'Raleway' sans-serif;
	display: flex;
	align-items: baseline;
	padding-right: 10px;
	padding-left: 10px;
}
.familial{
	font-family: 'Raleway' sans-serif;
	display: flex;
	align-items: baseline;
	padding-right: 10px;
	padding-left: 10px;
}
.icon_heart{
	display: flex;
	align-items: center;
	background: #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
}
.heart{
	border: 1px #F2F2F2 solid;
	border-radius: 20px 20px;
	border-width: 2px; 
	display: flex;
	align-items: center;
	padding-right: 10px;   
}
.romantique{
	font-family: 'Raleway' sans-serif;
	display: flex;
	align-items: baseline;
	padding-right: 10px;
	padding-left: 10px;
}
.dog{
	border: 1px #F2F2F2 solid;
	border-radius: 20px 20px;
	border-width: 2px; 
	align-items: center; 
	display: flex; 
	justify-content: space-around; 

}
.icon_dog{
	display: flex;
	align-items: center;
	background: #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
}
.animaux{
	font-family: 'Raleway' sans-serif;
	display: flex;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
}
/*end of first headers*/
.hebergements{/*thebiggrey*/
	display: flex;
	flex: 1.2;	
	justify-content: flex-start;	
	flex-direction: row;
	align-items: center;

}
.boxed1 {
    background-color: #F2F2F2;
	box-shadow: 0px 2px 5px #F2F2F2;
	border-radius: 10px 10px 10px 10px;
	padding: 20px;
	height: 400px;
	width: 585px;
	margin-right: 20px;	
}
.title{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: black;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding-bottom: 8px;
	align-content: center;
}
.hotel {
	border-radius: 10px 10px;
	background-color: white;
	/*height: 190px;*/
	/*width:200px;*/
	height: 150px;
	width: 180px;	
}
.hotel img{
	width: 170px;
	height: 90px;
	/*width:190px;*/
	/*height:118px;*/
	display: flex;
	align-content: center;
	border-radius: 10px 10px 0 0;
	text-align: center;
	margin: 5px 0px 0px 5px;
}
.hotelname{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	color: black;
	padding-left: 9px;
	padding-top: 8px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	
}
.price{
	font-family: 'Raleway', sans-serif;
	font-size: 0.7em;
	color: black;
	padding-left: 9px;
	padding-top: 2px;
	display: flex;
	flex-direction: flex-start;
}
.stars{
	display: flex;
	color: blue;
	flex-direction: row;
	padding-left: 9px;
	padding-top: 2px;
	font-size: 9px;
}
.thegrey{
	color: lightgrey;
	display: flex;
}
.container3{
	display: flex;
	justify-content: space-between;
	flex-direction: row;

}
.row{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: space-between;
	
}
.container4{
	display: flex;
	justify-content:space-between;
	flex-direction: row;

}
.row2{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-top: 20px;
}
/*section side*/
.afficher{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	display: flex;
	justify-content: flex-start;
	padding-top: 20px;
}
.sidepart{
	display: flex;
	flex: 1.2;
	justify-content: flex-start;
	flex-direction: column;	
}

.boxed2 {
	display: flex;
    background-color: #F2F2F2;
	box-shadow: 0px 2px 5px #F2F2F2;
	border-radius: 10px 10px 10px 10px;
	padding: 10px;
	height: 420px;
	width: 350px;
	margin-right: 10px;	
	flex-direction: column;
}
.populaires{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	
}
.chartline{
	display: flex;
	justify-content: space-between;
	margin-left: 200px;

}
.column{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 15px;
}
.hotel1{
	border-radius: 10px 10px;
	background-color: white;
	height: 120px;
	width: 340px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;


}
.hotel1 img{
    display: flex;
	width: 130px;
	height: 120px;
	border-radius: 10px 0px 0px 10px;
	margin: 5px 0px 0px 5px;
	flex-direction: column;
	
}
.hotelname2 {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.stars25{
	display: flex;
	padding-top: 35px;
}
.activites{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	padding-top: 20px;
	padding-bottom: 20px;

}
.container5{
	display: flex;
	justify-content: space-between;
	


	height: 500px ;
}
.picture_reno{
	display: flex;
	justify-content: flex-start;
	
	flex-direction: column;
	}
.picture_reno img{
	display: flex;
	flex-direction: row;
}
.hotel3{
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	box-shadow: 1px 1px 1px 1px lightgrey;
	height: 385px;
	
	/*display: flex;*/
	flex-direction: row;
	flex-wrap: nowrap;
}

.hotel3 img{
    display: flex;
    justify-content: flex-start;
	width: 225px;
	height: 350px;
	border-radius: 10px 10px 0px 0px;
	flex-direction: column;

}
.nameplaces {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 10px;
	padding-left: 13px;
	align-items: flex-start;

}
.picture_paul img{ 
    display: flex;
	width: 250px;
	height: 150px;
	border-radius: 10px 10px 0px 0px;
	flex-direction: column;

}
.hotel4{
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	box-shadow: 1px 1px 1px 1px lightgrey;
	height: 180px;
	width: 250px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-bottom:  20px;

}
.nameplaces1 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	display: flex;
	justify-content: flex-start;
	padding-top: 10px;
	padding-left: 13px;
}
.hotel5{
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	box-shadow: 1px 1px 1px 1px lightgrey;
	height: 135px;
	width: 250px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-items: space-between;

}
.picture_kevin img{
	display: flex;
	width: 250px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
	flex-direction: column;

}
/*footer*/

.footgrey{
	background-color: #F2F2F2;
	box-shadow: 0px 2px 5px #F2F2F2;
	border-radius: 10px 10px 10px 10px;
	padding: 20px;
	height: 150px;
	width: 950px;
	margin-right: 20px;
}
.a_propos{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.activity {
	width: 1000px;
}

a{
	text-decoration: none !important;
	color: black;
	display: flex;
	font-family: 'Raleway', sans-serif;
}
.column4{
	display: flex;
	flex-direction: column;
	
}

li{
	text-decoration: none;
}

.listes ul {
	padding:  0;
}







	
	
