}
.container{
	display: flex;
	flex-direction: row;

}
.photo_reservia{
	align-self: flex-start;
	padding-top: 40px;
	
}
.navigation{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}
nav ul{
	list-style-type: none;
	padding-top: auto;
	}
nav li{
	margin-right: 45px;
}

nav a{
	font-family:'Raleway', sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
}
nav a:hover{
	border-top: 2px solid #0065FC;
	padding-top: 30px;
}
.description{
	font-family:'Raleway', sans-serif;
	font-weight: bold;
}
.nature{
	font-family:'Raleway', sans-serif;
	font-size: 0.9em;
}
.photo_reservia{
	display: flex:
	align-self: flex-end;
	padding-bottom: 30px;
}

.button{
	background-color:#0065FC 
	color: white;
}
.label{
	background-color: #F2F2F2;
	border-left-radius:3px ;
}
.container1{
	color: black;
	font-weight: bold;
	font-family: 'Raleway' sans-serif;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	align-items: flex-start;
}
.description2{
	font-family:'Raleway'sans-serif;
	display: flex;
	justify-content: flex-start;
	padding-top: 20px;
	padding-bottom: 25px;
}
.info{
	border-radius: 50%;
	border: 2px solid #DEEBFF;
	padding-right: 10px;
	padding-left: 10px;

}
.logements{
	font-family:'Raleway'sans-serif;
	display: flex;
	padding-left: 10px;
}
article{
	flex: 1.2;
	width: 775px;
	height: 450px;
	position: left;
	background-color: #F2F2F2;
	box-shadow: 0px 2px 5px #F2F2F2;
	border-radius: 5px;
	padding: 10px;
	color: black;
	font-size: 0.9em;
}
.blue{
	color: #0065FC;
}
.money{
	border: 1px #F2F2F2 solid;
	border-radius: 20px 20px;
	border-width: 2px;
	display: flex;    
	align-items: baseline;
}
.eco{
	font-family: 'Raleway' sans-serif;
	display: flex;
	align-items: flex-start;
	padding-right: 10px;
	padding-left: 10px;		
}
.bill{
	display: flex;
	align-items: center;
	background: #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-left: 5px;
}
.child{
	border: 1px #F2F2F2 solid;
	border-radius: 20px 20px;
	border-width: 2px;
	display: flex;
	align-items: baseline;    
}
.icon_child{
	display: flex;
	align-items: center;
	background: #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-left: 8px;
}
.familial{
	font-family: 'Raleway' sans-serif;
	display: flex;
	align-items: baseline;
	padding-right: 10px;
	padding-left: 10px;
}
.icon_heart{
	display: flex;
	align-items: center;
	background: #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-left: 7px;
}
.heart{
	border: 1px #F2F2F2 solid;
	border-radius: 20px 20px;
	border-width: 2px; 
	display: flex;
	align-items: baseline;
	padding-right: 10px;   
}
.romantique{
	font-family: 'Raleway' sans-serif;
	display: flex;
	align-items: baseline;
	padding-right: 10px;
	padding-left: 10px;
}
.dog{
	border: 1px #F2F2F2 solid;
	border-radius: 20px 20px;
	border-width: 2px; 
	align-items: baseline; 
	display: flex;  
}
.icon_dog{
	display: flex;
	align-items: center;
	background: #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-left: 7px;
}
.animaux{
	font-family: 'Raleway' sans-serif;
	display: flex;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
}

.hotel {
	border-radius: 10px 10px;
	background-color: white;
	height: 125;
	width:200px;
}
	
.hotel img{
	width:200px;
	height:118px;
	display: flex;
	justify-content: space-around;
	}
.stars{
	color: blue;
}
#button{
	background-color: #0065FC;
	border: none;
	border-radius: 10px;
}









